<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Expense manager</title>
	</head>
	<body>

	<% if @expense.errors.any? %>
		<div id="error_explanation">
		<h2><%= pluralize(@expense.errors.count, "error") %></h2>
		<ul>
			<% @expense.errors.full_messages.each do |msg| %>
			    <li><%= msg %></li>
			<% end %><br/>
		</ul>
		</div>
	<% end %>
	<div class="container">
		<div class="row">
			<%= render 'categories_list' %>
		<div class="col-md-2">
		</div>
		<div class="col-md-5">
	    	<div class="row">
	    	<br/>
	            <div class="thumbnail">
					<%= render 'update_form' %>
				</div>
			</div>
		</div>
		<div class="col-md-2">
		</div>
		</div>
	</div>
	</body>
</html>